@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    background: linear-gradient(to bottom, rgb(0, 128, 255), white);
    text-align: center;
    min-height: 100vh;
}

main {
    position: relative;
    display: inline-block;
    width: 29vw;
    margin-top: 10px;
    padding: 2px;

}

.pokedex {
    width: 100%;
}

.pokemon {
    position: absolute;
    top: 54%;
    left: 18%;
    width: 60%;
}

.name-pokemon,
.id-pokemon {
    font-size: 2.2vw;
    font-weight: 600;
    text-transform: capitalize;
}

.search {
    background-color: rgb(219, 214, 214);
    width: 60%;
    position: absolute;
    top: 65%;
    left: 20%;
    outline: none;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 2%;
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
    font-weight: 600;
}

.btn {
    width: 60%;
    display: flex;
    gap: 10px;
    position: absolute;
    top: 78%;
    left: 30%;
    transform: translate(-20%, 0);
}

.btn-next,
.btn-back {
    background-color: black;
    color: white;
    width: 50%;
    outline: none;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 2%;
    box-shadow: -2px 0 #888, -2px 2px 0 #333;
    cursor: pointer;
    font-weight: 600;
}

.btn-next:active,
.btn-back:active {
    font-size: 1.4vw;
    box-shadow: inset -2px 0 #888, -2px 2px 0 #333;
}

.image-pokemon {
    position: absolute;
    top: 34%;
    left: 47%;
    width: 30%;
    max-height: 110px;
    transform: translate(-50%, 0);
}

@media screen and (max-width:600px) {
    main {
        width: 96vw;
    }

    .name-pokemon,
    .id-pokemon {
        font-size: 8vw;
    }

    .search {
        height: 8%;
        font-size: 5vw;
    }

    .btn {
        width: 75%;
        gap: 8px;
        left: 24%;
    }

    .btn-next,
    .btn-back {
        padding: 4%;
    }

    .btn-next:active,
    .btn-back:active {
        font-size: 3.2vw;
    }

    .image-pokemon {
        top: 31%;
        max-height: 130px;
    }
}
